*{
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

body{
    font-size: 1.6rem;
    font-family: "Poppins",sans-serif;
}

a{
    text-decoration: none;
}
html, body{
    scroll-behavior: smooth;
}

.content{
    width: 1170px;
    max-width: calc(100vw - 100px);
    margin-left: auto;
    margin-right: auto;
}

/* Header */
.header{
    background-color: #FFFCF4;
    position: sticky;
    top: -16px;
    z-index: 1;
}


.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 36px 0px 20px;
}

.navbar .logo{
    color: #171100;
    font-family: Sen;
    font-size: 2.4rem;
    font-style: normal;
    font-weight: 700;
    line-height: 1.41; /* 141.667% */
}

.navbar .logo .dot{
    color: #FFB900;
    font-family: Sen;
    font-size: 2.4rem;
    font-style: normal;
    font-weight: 700;
    line-height: 34px;
}

.header .navigation{
    display: flex;
    gap: 42px;
}


.header .navbar .item{
    color: #5F5B53;
    text-align: center;
    font-family: Poppins;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.75; /* 175% */
}


.header .btn{
    margin-left: calc(70px - 42px);
    width: 62px;
    height: 28px;
    padding: 11px 41px;
    border-radius: 24.5px;
    background-color: black;
    color: #FFF;
    text-align: center;
    font-family: Poppins;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 600;
    line-height: 1.75; 
}

.header .btn:hover{
    background: #FFF;
    color: black;
}

.header .item:hover{
    color: #171100;
    text-align: center;
    font-family: Poppins;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 600;
    line-height: 1.75;
    position: relative; /* 175% */
}

.header li .item::after{
    content: "";
    height: 2px;
    border-radius: 1px;
    background-color: #171100;
    position: absolute;
    bottom: -2px;
    left: 50%;
    transform: translateX(-50%); /* Dịch chuyển phần tử ::after ngược lại 50% của chính nó */
    width: 0;
}

.header li .item:hover::after{
    width: 80%; 
}

/* Hero */
.hero{
    padding: 66px 0px ;
    background-color: #FFFCF4;
}

.hero1{
    display: flex;
    justify-content: space-between;
}

.hero .hero_img{
    position: relative;
}

.hero .hero_img .img{
    position: relative;
}

.hero .hero_img .box{
    height: 270px;
    width: 244px;
    border-radius: 12px;
    background: #FFF;
    box-shadow: 0px 16px 32px 0px rgba(0, 0, 0, 0.05);
    position: absolute;
    top: 393px;
    left: 300px;
}

.hero .hero_img .column{
    margin-left: 24px;
    margin-top: 27px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
}

.hero .hero_img .column .img{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    margin-right: 16px;
    background: #FFF9E8;
}

.hero .hero_img .column:nth-of-type(2) .img{
    background: #FCEFFF;
}

.hero .hero_img .column:nth-of-type(3) .img{
    background: #EBEAFF;
}

.hero .hero_img .column .name{
    color: #5F5B53;
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px; /* 185.714% */
}

.hero .hero_img .text1{
    color: #171100;
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 30px;
}

.hero .hero_img .column:nth-last-of-type(2){
    margin-top: 19px;
    margin-bottom: 19px;
}

/* hero text */
.hero .hero_text{
    padding-top: 64px;
    /* padding-left: 150px; */

}

.hero .hero_text .title{
    width: 490px;
    color: #171100;
    font-family: Sen;
    font-size: 58px;
    font-style: normal;
    font-weight: 700;
    line-height: 68px; /* 117.241% */
    letter-spacing: -1.16px;
}

.hero .hero_text .desc{
    margin-top: 22px;
    margin-bottom: 38px;
    width: 490px;
    color: #5F5B53;
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; /* 166.667% */
}

.hero .hero_text .column{
    display: flex;
    align-items: center;
}

.hero .hero_text .column .btn{
    padding: 17px 33px;
    border-radius: 32px;
    color: #FFF;
    text-align: center;
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 1.66; 
    background: #FFB900;
    margin-right: 28px;
}

.hero .hero_text .column .btn:hover{
    background: #ffcb3a;
}

.hero .hero_text .column img{
    padding-top: 15px;
}

.hero .hero_text .column .btn1{
    margin-left: 14px;
    color: #171100;
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 30px; /* 166.667% */
}

.hero .hero_text .desc1{
    color: #5F5B53;
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; /* 166.667% */
    margin-bottom: 8px;
    margin-top: 60px;
}

.hero .hero_text .box{
    display: flex;
    gap: 28px;
}

.hero .hero_text .box .sta{
    color: #171100;
    font-family: Sen;
    font-size: 44px;
    font-style: normal;
    font-weight: 700;
    line-height: 54px; /* 122.727% */
}

.hero .hero_text .box span{
    color: #5F5B53;
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
}

